### Explore our DF  (Shape, head, tail, dtypes, info, describe, count, nunique, columns, isnull, value_counts, rename, duplicated, drop_duplicates)

# 1) SHAPE

In [1]:
# shape is just an attribute, not a method. Just use df.shape (no parenthesis).
# (The error message is not telling us that df is a tuple, it is telling you that df.shape is a tuple.)
# if we do this df.shape() we get error --> TypeError: 'tuple' object is not callable
# shape --> Tells rows * columns
print("Row , Column ",df.shape)
# Index 0= no. of rows and index=1 = no. of columns
print()
print("No of ROWs ",df.shape[0])
print()
print("NO of columns:" ,df.shape[1])

NameError: name 'df' is not defined

# 2) HEAD, TAIL,VALUES, NSMALLEST, NLARGEST

In [ ]:
# Tells first 5 rows.
print(df.head(5))

# tells last 5 rows
print(df.tail(5))

# It gives the rows as a numpy array
# To get the actual data inside a data structure, one need only access the values property
print(df.values)
# <class 'numpy.ndarray'>



# return the smallest or largest n values. 
print(df.nsmallest(3, 'ReleaseNumber'))
print(df.nsmallest(3,[ 'ReleaseNumber','SKU_number']))
print(df.nlargest(5, ['SKU_number']))
print(df.nlargest(3,[ 'ReleaseNumber','SKU_number']))

# 3) DTYPES, VALUE_COUNTS, select_dtypes

In [ ]:
# Show Each Column Dattype
# int 64 means discrete data
# float 64 means continous data
# object means categorical data here( SoldFlag and New_Realease_Flag is also categorical data 
# becos they have only two values either 0/1 which can be treat as yes/no)
# categorical values does not need to be character type it can be any data that has very limited values or fix no of values.
# dtypes tell the 
print(df.dtypes)

# will return the number of columns of each type in a DataFrame:
print(df.dtypes.value_counts())

# select numeric columns BY DTYPES
df_numeric = df.select_dtypes(include=[np.number])
numeric_cols = df_numeric.columns.values
print("--------numeric_cols-------------")
print(numeric_cols)

# select non numeric columns
df_categorical = df.select_dtypes(exclude=[np.number])
categorical_cols = df_categorical.columns.values
print("--------categorical_cols----------")
print(categorical_cols)

# 4) INFO, COLUMNS

In [ ]:
# info tells the information about the values of the data
print(df.info())

# it tells the memory usage by the columns.
df.info(memeory_usage='deep')

# it wil give the individual column  memory details.
df.memory_usage(deep=True)

# gives the list of column name
print(df.columns)

# It tells the index
print("\n ",df.index)
# start  is first row index
# stop is last row index
# o/p --> RangeIndex(start=0, stop=198924, step=1)

# 5) COUNT

In [ ]:
# It counts the total no of rows of all the columns whether duplicate or not but doesnot include null.. 
print(df.count())
# We can count the no of rows for  a particular column put on a condition with .count()
print()
print(df[df['PriceReg']>2000].count())
# counting rows that matches the given condition.
print()
print(df[df['File_Type']=='Historical'].count())

# 6) UNIQUE & NUNIQUE

In [ ]:
# To find the count of unique values in the data use nunique, no duplicates and no null.
print(df.nunique())

# Let's learn a new function called unique
# It tells the name of the unique values in the Column Specified and doesnot show duplicate as well as not show null values.
print()
print(df['MarketingType'].unique())

# 7) DESCRIBE

In [ ]:
# it tells the summary of the statistica data and shows only numerical values not categorical.
# count non null values
print(df.describe())

#  for categorical values put include = object
# count = total non null values
# top= most occuring value
# freq= count of top value
print(df.describe(include='object'))

# all = to get all values describe numerical as well as categorical
print(df.describe(include='all'))

# To see details of a particular column
print(df['Order'].describe())
print("-------------- describe Transpose--------------")
print(df.describe().transpose())

# 8) DUPLICATED, SUM

In [ ]:
# Duplicated
# To count the duplicate rows
# It shows the boolean result false for non duplicates and true for duplicate values.
print(df.duplicated)
# When ever we have boolean result we can easily count the true values using sum()
# To count the duplicated rows
# data.duplicated().sum()
print(df.duplicated().sum())
print(df[df.duplicated()])
## this function is used to show only duplicate row 
## they give the second duplicated value with compare with first
## if want to see this put the above 3 shell 
df.duplicated(keep='first')
df.duplicated(keep='last') ## they give the first duplicated value with compare with second

# 9) DROP_DUPLICATES

In [ ]:
 # It drops duplicate values, by default it keeps first value.
df.drop_duplicates() 
# Drop Duplicates
df.drop_duplicates(inplace=True)

# we can drop duplicates even with the particular column name. 
# All duplicate of those column will drop the correnponding rows data also.
df.drop_duplicates(['k1'])

# If we want to keep last duplicate values then we put parameter keep='last'
df.drop_duplicates(['k1', 'k2'], keep='last',inplace=True)

# 11) ISNULL(), NOTNULL(),ANY

In [ ]:
# Null Values
print(df.isnull())
print(df.isnull().sum())
print(df.notnull().sum())
print(df['SoldFlag'].isnull())

# It tells which row has null
print(df[df['SoldFlag'].isnull()])

# Totalcount of null values
print(df['SoldFlag'].isnull().sum())

# Null Values
print()

# If we have to see rows with null when we dont know column name. It will show all the  rows that have any null in it. 
print(df[df.isnull().any(axis=1)])

# To see non null values count
print(df[df['SoldFlag'].notnull()])

# 12) value_counts(), set_index

In [ ]:
# value counnts is applied only in columns not in df
# Value_counts tells the frequency of unique values individually does not include null.
print(df['File_Type'].value_counts())
print()
print(df['StrengthFactor'].value_counts())
print()

# it will give the value count in percentages.
print(df['SoldFlag'].value_counts(normalize=True))

# Create index
#print(df1.set_index('States'))

# to plot barplot with value_counts
%inline matplotlib
df.StrengthFactor.value_counts().plot(kind='bar')

# 13) RENAME, add_prefix, add_Suffix

In [ ]:
# If we want to rename any column name
df.rename(columns={'SKU_number':'Product_ID'}, inplace=True)
df.rename(columns={'SKU_number':'Product_ID','File_Type':'Product_Type'}, inplace=True)
print(df.columns)

or
df_cols=['Product_ID','Product_Type','country']
df.columns=df_cols

# It will add the prefix to the column name of the dataframe
df.add_prefix('X_')

# It will add the suffix to the column name of the dataframe
df.add_Suffix('_X')

# 14) options.display.max_columns, set_option

In [ ]:
# tells the limit of columns that can be displayed in output in jupyter notebook at a time.
pd.options.display.max_columns
# tells the limit of rows that can be displayed in output in jupyter notebook at a time.
pd.options.display.max_rows
# to change the limit of output of rows.
pd.set_option('display.max_rows',70)
pd.options.display.max_rows
# to change the limit of column in output
pd.set_option('display.max_columns',30)
pd.options.display.max_columns

# 15) FILTER

In [ ]:
# (1) filtering columns 1961, 2000, and 2015
dataset.filter(items=["1961", "2000", "2015"]).head()

# (2) filtering for years 2000 and later
dataset.filter(regex="^2", axis=1).head()

# (3) filtering countries that start with A
dataset.filter(regex="^A", axis=0).head()